<a href="https://colab.research.google.com/github/nksharma063/it-cert-automation-practice/blob/master/Python_crash_course_week2_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bill <b>Divide into 2 person

In [ ]:
bill_amount = 47.28
service_tip = 0.15 #service_tip_tax = "15"+"%"

total = bill_amount + service_tip
bill_each = total/2
print("Each person need to pay: " + "$"+str(bill_each))

Each person need to pay: $23.715

<b>Concatenating string

In [ ]:
word1 = "Abba"
word2 = "Dabba"
word3 = "Jabba"
word4 = "Abba"
word5 = "Dabba"
word6 = "Jabba"
print(word1 + " " + word2 + " " + word3 + " " + word4 + " " + word5 + " " + word6)

Abba Dabba Jabba Abba Dabba Jabba

Function convert <strong>miles</strong> to <b> km

In [ ]:
def convert_distance(miles):
  km = miles * 1.6    #1.6km in one mile"
  return km
my_trip_miles = float(input("Enter the value of one way-trip in miles")) # input from user for round trip in miles
my_trip_km = convert_distance(my_trip_miles)
round_trip_km = my_trip_km * 2
print("The round trip in kilometers are: " + str(round_trip_km))

Enter the value of one way-trip in miles10
The round trip in kilometers are: 32.0

In [ ]:
10 * 1.6

16.0

Comparison and Order of number in <b>Increasing Order

In [ ]:
def compare_increase_order(number1, number2):
  if number1 > number2:
    return number2, number1
  elif number1 < number2:
    return number1, number2
smaller, bigger = compare_increase_order(100, 99) # we had 2 variable so that we can stor 2 values as integer which can be m,odified later
print(smaller, bigger)
ONE = compare_increase_order(1,2)  # we stored one variable whihc we can store as tuple but connot modified
print(ONE)
type(ONE) 

smaller = 98
print(smaller, bigger)

99 100
(1, 2)
98 100

AttributeError: ignored

Lucky number based on name

In [ ]:
def lucky_number(name):
  lucky_number = len(name) * 786
  message = "Hello " + name + " Your lucky number is: " + str(lucky_number)
  print(message)
lucky_number("Neeraj")

Hello Neeraj Your lucky number is: 4716

Greeting Based on Name of Person

In [ ]:
def Greeting():
  Name = str(input("Ye Dilli hai meri jaan, Bas Ishq mohabbat pyaar, abe NAME bharo aur nikal"))
  if Name == "neeraj":
    print("Are Bhai Dekho Dekho " + Name + "wa Aaya hai sasura")
  else:
    print("jabtak rahega samose mai aalo, tabtak rahega jabaan pai " + Name)
Greeting()
Greeting()

Ye Dilli hai meri jaan, Bas Ishq mohabbat pyaar, abe NAME bharo aur nikalNeeraj
jabtak rahega samose mai aalo, tabtak rahega jabaan pai Neeraj
Ye Dilli hai meri jaan, Bas Ishq mohabbat pyaar, abe NAME bharo aur nikalneeraj
Are Bhai Dekho Dekho neerajwa Aaya hai sasura

print based on <b>number

In [ ]:
def number(number):
  if number > 11:
    print(0)
  elif number != 10:
    print(1)
  elif number > 20 and number < 12:
    print(2)
  else:
    print(3)
number(1)
number(10)

1
3

In [ ]:
print("A dog" < "A mouse") # converting character into ascii character and comparing
print(9999+8888 > 100*100) # simple int addition multiplication

True
True

<b>Size</b> of block used in <strong>filesystem</strong> in <b>bytes</b>

In [ ]:
def calculate_storage():
  file_size = float(input("Please enter the size of in bytes: "))
  Block_size  = 4096
  block_remainder = file_size % Block_size
  full_blocks = file_size // Block_size
  if block_remainder > 0 and block_remainder < 4096:
    remaining_block_size = 4096
  else:
    remaining_block_size = 0
  total_storage = full_blocks * 4096 + remaining_block_size
  return total_storage

In [ ]:
calculate_storage()

Please enter the size of in bytes: 10000

12288.0

<b>Color</b> to <Strong>Hexadecimal</strong>

In [ ]:
def color_translator(color):
	if color == "red":
		hex_color = "#ff0000"
	elif color == "green":
		hex_color = "#00ff00"
	elif color == "blue":
		hex_color = "#0000ff"
	else:
		hex_color = "unknown"
	return hex_color

1

In [ ]:
4096*4

16384

In [ ]:
"big" > "small"# chaging to ascii code at bckground

False

In [ ]:
def exam_grade():
  score = float(input("please enter the score by student name"))
  if score >= 95:
    grade = "Top_Score"
  elif score >= 33 and score < 95:
    grade = "Pass"
  elif score < 33:
    grade = "Apply for Re-Exam"
  print(grade)
exam_grade()
exam_grade()
exam_grade()

please enter the score by student name12
Apply for Re-Exam
please enter the score by student name35
Pass
please enter the score by student name95
Top_Score

First name and Last name function

In [ ]:
def format_name(firstname, lastname):
  if firstname != "" and lastname != "":
    string = "Name: "+ lastname + firstname
  elif firstname != "" and lastname == "":
    string = "Name: " + firstname + lastname
  elif firstname == "" and lastname != "":
    string = "Name: " + firstname + lastname
  elif firstname == "" and lastname == "":
    string = ""
  return string

print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

Name: HemingwayErnest
Name: Madonna
Name: Voltaire

Playing with PEDMAS

In [ ]:
def sum(x, y):
		return(x+y)
print(sum(sum(1,2), sum(3,4)))

10

Longest word in the list and first word if length are same for all list

In [ ]:
def longest_word(word1, word2, word3):
  if len(word1) > len(word2) and len(word1) > len(word3):
    word = word1
  elif len(word2) > len(word1) and len(word2) > len(word3):
    word = word2
  elif len(word1) == len(word2) == len(word3):
    word = word1
  else:
    word = word3
  return word
print(longest_word("chair", "couch", "table"))
print(longest_word("bed", "bath", "beyond"))
print(longest_word("laptop", "notebook", "desktop"))

chair
beyond
notebook

Return fractional part of number example 0.1 should return .1, 0 return 0

In [ ]:
def fractional_part(numerator, denominator):
  if numerator == 0 or denominator == 0 or numerator==denominator:
    frac_part = 0
  elif numerator != 0 and denominator != 0:
    div = numerator/denominator
    frac_part = div - int(div)
  return frac_part
print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

0
0.25
0.6666666666666667
0.5
0
0

# New Section

# New Section

In [ ]:
a = [1,2,3]
b = a
print(b)
a[0] = 4
print(a)
print(b)
c = a.reverse

[1, 2, 3]
[4, 2, 3]
[4, 2, 3]

TypeError: ignored