<a href="https://colab.research.google.com/github/nksharma063/it-cert-automation-practice/blob/master/Python_crash_course_week2_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bill <b>Divide into 2 person

In [ ]:
bill_amount = 47.28
service_tip = 0.15 #service_tip_tax = "15"+"%"

total = bill_amount + service_tip
bill_each = total/2
print("Each person need to pay: " + "$"+str(bill_each))

Each person need to pay: $23.715

<b>Concatenating string

In [ ]:
word1 = "Abba"
word2 = "Dabba"
word3 = "Jabba"
word4 = "Abba"
word5 = "Dabba"
word6 = "Jabba"
print(word1 + " " + word2 + " " + word3 + " " + word4 + " " + word5 + " " + word6)

Abba Dabba Jabba Abba Dabba Jabba

Function convert <strong>miles</strong> to <b> km

In [ ]:
def convert_distance(miles):
  km = miles * 1.6    #1.6km in one mile"
  return km
my_trip_miles = float(input("Enter the value of one way-trip in miles")) # input from user for round trip in miles
my_trip_km = convert_distance(my_trip_miles)
round_trip_km = my_trip_km * 2
print("The round trip in kilometers are: " + str(round_trip_km))

Enter the value of one way-trip in miles10
The round trip in kilometers are: 32.0

In [ ]:
10 * 1.6

16.0

Comparison and Order of number in <b>Increasing Order

In [ ]:
def compare_increase_order(number1, number2):
  if number1 > number2:
    return number2, number1
  elif number1 < number2:
    return number1, number2
smaller, bigger = compare_increase_order(100, 99) # we had 2 variable so that we can stor 2 values as integer which can be m,odified later
print(smaller, bigger)
ONE = compare_increase_order(1,2)  # we stored one variable whihc we can store as tuple but connot modified
print(ONE)
type(ONE) 

smaller = 98
print(smaller, bigger)

99 100
(1, 2)
98 100

AttributeError: ignored

Lucky number based on name

In [ ]:
def lucky_number(name):
  lucky_number = len(name) * 786
  message = "Hello " + name + " Your lucky number is: " + str(lucky_number)
  print(message)
lucky_number("Neeraj")

Hello Neeraj Your lucky number is: 4716

Greeting Based on Name of Person

In [ ]:
def Greeting():
  Name = str(input("Ye Dilli hai meri jaan, Bas Ishq mohabbat pyaar, abe NAME bharo aur nikal"))
  if Name == "neeraj":
    print("Are Bhai Dekho Dekho " + Name + "wa Aaya hai sasura")
  else:
    print("jabtak rahega samose mai aalo, tabtak rahega jabaan pai " + Name)
Greeting()
Greeting()

Ye Dilli hai meri jaan, Bas Ishq mohabbat pyaar, abe NAME bharo aur nikalNeeraj
jabtak rahega samose mai aalo, tabtak rahega jabaan pai Neeraj
Ye Dilli hai meri jaan, Bas Ishq mohabbat pyaar, abe NAME bharo aur nikalneeraj
Are Bhai Dekho Dekho neerajwa Aaya hai sasura

print based on <b>number

In [ ]:
def number(number):
  if number > 11:
    print(0)
  elif number != 10:
    print(1)
  elif number > 20 and number < 12:
    print(2)
  else:
    print(3)
number(1)
number(10)

1
3