<a href="https://colab.research.google.com/github/nksharma063/it-cert-automation-practice/blob/master/week4googleIT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exxample 1

In [ ]:
def initials(phrase):
    words = phrase.upper()
    words = words.split()
    ' '.join(words)
    result = ""
    for word in words:
        result += word[0]
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

Example2

In [ ]:
def student_grade(name, grade):
	return "{} received {}% on the exam".format(name,grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Practice Quiz
Q1

In [ ]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for character in input_string:
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string. 
		if character!=" ":
			new_string = character + new_string
			reverse_string = reverse_string + character
	# Compare the strings
	if new_string.lower() == reverse_string.lower():
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

q2

In [ ]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {:.1f} km".format(miles, km)
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

q3

In [ ]:
def nametag(first_name, last_name):
	return("{X} {Y[0]}.".format(X=first_name, Y=last_name))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

q4

In [ ]:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if sentence.endswith(old):
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		#a = sentence.split()
		#i = len(sentence) - len(a[-1])
		new_sentence = sentence.replace(old,new)
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining dogs and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

Practice Quiz

In [ ]:
def skip_elements(elements):
	# Initialize variables
	new_list = []
	i = 0

	# Iterate through the list
	for words in elements:
		# Does this element belong in the resulting list?
		if i <= len(elements):
			# Add this element to the resulting list
			new_list.append(elements[i])
		# Increment i
		i=i+2

	return new_list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []

In [ ]:
def skip_elements(sentence):
  new_list = []
  i = 0
  for item in sentence:
    if i <= len(sentence):
      new_list.append(sentence[i])
    i = i + 2
  return new_list
print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']
[]

we assigned three vimmutable variables to a tuple and the worked n just one size which was extracted as a variable from file info to process in fucngtion

In [ ]:
def file_size(file_info):
  name, type, size = file_info
  return("{:.2f}".format(size/1024))
print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

17.46
0.48
1.21

In [ ]:
def skip_elements(sentence):
  new_list = []
  for i, word in enumerate(sentence):
    if i%2==0:
      new_list.append(sentence[i])
  return new_list
print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [ ]:
def restructure(emp_name_email):
  emp_table = []
  for email, name in emp_name_email:
     emp_table.append("{} : {}".format(name, email))
     emp_table.replace()
  return emp_table
  
print(restructure([('a@exp.com','a'), ('b@exp.com','b')]))

['a : a@exp.com', 'b : b@exp.com']

In [ ]:
multiples = [x*2 for x in range(1,11)]
print(multiples)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
list = ["'{}' : '{}'".format(email,name) for name,email in [('a@exp.com','a'), ('b@exp.com','b')]]
print(list)

["'a' : 'a@exp.com'", "'b' : 'b@exp.com'"]

In [ ]:
def odd_numbers(n):
	return [x for x in range(1,n+1) if x%2==1]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

In [ ]:
def prime_nummbers(n):
  return [x for x in range (1,n+1) if x!=0 and ]

In [ ]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]

Practice Quiz
Q1

In [ ]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
#newfilenames= [each.replace('.hpp','.h') for each in filenames if each.endswith('.hpp')]
newfilenames= [each.replace('.hpp','.h') for each in filenames]

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

Q2

In [ ]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split()
  for word in words:
    # Create the pig latin word and add it to the list
    pig_latin_word_list = word[1:] + word[0] + 'ay'
    say = say + pig_latin_word_list
    # Turn the list back into a phrase
  return say
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

In [ ]:
def pig_latin(sentence):
  pig_latin = []
  words = sentence.split()
  for word in words:
    pig_latin.append(word[1:] + word[0] + 'ay')
  return pig_latin
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

['ellohay', 'owhay', 'reaay', 'ouyay']
['rogrammingpay', 'niay', 'ythonpay', 'siay', 'unfay']

OR

In [ ]:
def pig_latin1(sentence):
  pig_latin = [each[1:]+each[0]+'ay' for each in sentence.split()]
  return pig_latin
print(pig_latin1("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin1("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

['ellohay', 'owhay', 'reaay', 'ouyay']
['rogrammingpay', 'niay', 'ythonpay', 'siay', 'unfay']

In [ ]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for item in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if  item >= value:
                result += letter
                item-= value
            else:
                result += '-'
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

In [ ]:
def OTS(value):
  result = []
  values = str(value)
  for each in values:
    if each == '7':
      result.append('rwx')
    elif each == '6':
      result.append('rw-')
    elif each == '5':
      result.append('r-x')
    elif each == '4':
      result.append('r--')
    elif each == '7':
      result.append('rwx')
    elif each == '6':
      result.append('rw-')
    elif each == '5':
      result.append('r-x')
    elif each == '4':
      result.append('r--')
    elif each == '7':
      result.append('rwx')
    elif each == '6':
      result.append('rw-')
    elif each == '5':
      result.append('r-x')
    elif each == '4':
      result.append('r--')
  results = ''.join(result)
  return results
print(OTS(755)) # Should be rwxr-xr-x
print(OTS(644)) # Should be rw-r--r--
print(OTS(750)) # Should be rwxr-x---
print(OTS(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x
rw-

q-4

In [ ]:
def group_list(group, users):
  members=()
  members=",".join(users)
  return ("{X}: {Y}".format(X=group, Y=members))

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike,Karen,Jake,Tasha
Engineering: Kim,Jay,Tom
Users:

In [ ]:
def guest_list(guests):
	for each in guests:
		print("{X} is {Y} years old and works as {Z}".format(X = each[0], Y= each[1], Z= each[2]))
guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

Dixtionary - example 1

In [ ]:
cool_beasts = {"octopuses":"tentacles", "dolphins":"fins", "rhinos":"horns"}
for  key,value in cool_beasts.items():
  print("{} {}".format(key, value))

octopuses tentacles
dolphins fins
rhinos horns

In [ ]:
#help('FORMATTING')

In [ ]:
def count(letterscounting):
  result = {}
  for word in letterscounting:
    if word not in result:
      result[word] = 0
    else:
      result[word] += 1
  return result
print(count('ababababababababa'))

{'a': 8, 'b': 7}

In [ ]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for key,value in wardrobe.items():
	for each in value:
		print("{} {}".format(each,key))

practice quiz quetion 1

In [ ]:
def email_list(domains):
	emails = []
	for email,users in domains.items():
	  for user in users:
	    emails.append("{}@{}".format(user,email))
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

The email_list function receives a dictionary, which contains domain names as keys, and a list of users as values. Fill in the blanks to generate a list that contains complete email addresses (e.g. diana.prince@gmail.com).

In [ ]:
def email(dict):
  complete_email = ["{}@{}".format(user,domain) for domain,users in dict.items() for user in users]
  return complete_email#for domain,users in dict.items():
    #for user in users:
      #return complete_email.append("{}@{}".format(user,domain))
  

print(email({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

The groups_per_user function receives a dictionary, which contains group names with the list of users. Users can belong to multiple groups. Fill in the blanks to return a dictionary with the users as keys and a list of their groups as values.

In [ ]:
def groups_per_user(dict):
  user_groups = {}
  for group,users in dict.items():
    for user in users:
      if user not in user_groups:
        user_groups[user] = []
      user_groups[user].append(group)

  return user_groups
print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

The add_prices function returns the total price of all of the groceries in the  dictionary. Fill in the blanks to complete this function.

In [ ]:

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, "coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

def add_groceries(dict):
  total_price = 0
  for item,price in dict.items():
    total_price = total_price + price
  return total_price

print(add_groceries(groceries))

28.440000000000005

or

In [ ]:
groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, "coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

def add_price(dict):
  total = 0
  for value in dict.values():
    total = total + value
  return total
print(add_price(groceries))

28.440000000000005

or

In [ ]:
groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, "coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}
def add(dict):
  return dict.values().sum()
print(add_price(groceries))

28.440000000000005

Graded Assesment
Q-1

The format_address function separates out parts of the address string into new strings: house_number and street_name, and returns: "house number X on street named Y". The format of the input string is: numeric house number, followed by the street name which may contain numbers, but never by themselves, and could be several words long. For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". Fill in the gaps to complete this function.

In [ ]:
def format_address(string):
  house_number = ""
  street_name = ""
  for each in string.split():
    if each.isdigit():
      house_number = each
    else:
      street_name = street_name + " " + each
  return ("house number {} on street named {}".format(house_number,street_name))
print(format_address("123 Main Street"))
print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named  Main Street
house number 1001 on street named  1st Ave
house number 55 on street named  North Center Drive

In [ ]:
def format_address(address_string):
  house_number=""
  street_name=""

  X= address_string.split(" ")# Separate the address string into parts

  # Traverse through the address parts
  for each in X:
    if each.isdigit():# Determine if the address part is the
      house_number=each# house number or part of the street name
    else:
      street_name+=each
      street_name=" "
  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
return "house number {} on street named {}".format(house_number,street_name)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

The highlight_word function changes the given word in a sentence to its upper-case version. For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day". Can you write this function in just one line?

In [ ]:
def highlight_word(string,word):
  return string.replace(word, word.upper())

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

A professor with two assistants, Jamie and Drew, wants an attendance list of the students, in the order that they arrived in the classroom. Drew was the first one to note which students arrived, and then Jamie took over. After the class, they each entered their lists into the computer and emailed them to the professor, who needs to combine them into one, in the order of each student's arrival. Jamie emailed a follow-up, saying that her list is in reverse order. Complete the steps to combine them into one list as follows: the contents of Drew's list, followed by Jamie's list in reverse order, to get an accurate list of the students as they arrived.

In [ ]:
def attendance(students):
  drew_list = []
  jamie_list = []
  new_list = []
  for student in students:
    drew_list.append(student)
  for student in students:
    jamie_list.append(student)
  print(drew_list) 
  print(jamie_list.reverse())
  
print(attendance(["Alice", "Cindy", "Bobby", "Jan", "Peter"]))

['Alice', 'Cindy', 'Bobby', 'Jan', 'Peter']
None
None

In [ ]:
def combine_lists(list1, list2):
  
  #return list2.extend(list1.reverse())
  return list2+list1[::-1]
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]
print(combine_lists(Jamies_list, Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

Use a list comprehension to create a list of squared numbers (n*n). The function receives the variables start and end, and returns a list of squares of consecutive numbers between start and end inclusively.
For example, squares(2, 3) should return [4, 9].

In [ ]:
def square(start,end):
  return [n*n for n in range(start, end + 1)]
print(square(2, 3)) # Should be [4, 9]
print(square(1, 5)) # Should be [1, 4, 9, 16, 25]
print(square(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

omplete the code to iterate through the keys and values of the car_prices dictionary, printing out some information about each one.

In [ ]:
def car_listing(car_prices):
  result = ""
  for car,price in car_prices.items():
    result += "{} costs {} dollars".format(car,price) + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Taylor and Rory are hosting a party. They sent out invitations, and each one collected responses into dictionaries, with names of their friends and how many guests each friend is bringing. Each dictionary is a partial list, but Rory's list has more current information about the number of guests. Fill in the blanks to combine both dictionaries into one, with each friend listed only once, and the number of guests from Rory's dictionary taking precedence, if a name is included in both dictionaries. Then print the resulting dictionary.

In [ ]:
def combine_guests(guests1, guests2):
  final_list = {}
  final_list = guests1.copy()
  for key,value in guests2.items():
    if key not in final_list:
      final_list[key] = value
    else:
      pass
  return final_list
Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'Adam': 2, 'Brenda': 3, 'David': 1, 'Jose': 3, 'Charlotte': 2, 'Terry': 1, 'Robert': 4, 'Nancy': 1, 'Samantha': 3, 'Chris': 5}

In [ ]:
#help('dict')

Use a dictionary to count the frequency of letters in the input string. Only letters should be counted, not blank spaces, numbers, or punctuation. Upper case should be considered the same as lower case. For example, count_letters("This is a sentence.") should return {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}.

In [ ]:
def counting(sentence):
  dict = {}
  
  
  for each in sentence.lower():
    dict[each] = each.count()
  return dict
print(counting("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(counting("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

TypeError: ignored

In [ ]:
def count_letters(text):
  result = {}
  # Go through each letter in the text
  for letter in text.lower():
    # Check if the letter needs to be counted or not
    if letter.isalpha() and letter not in result:
    # Add or increment the value in the dictionary
      result[letter] = text.lower().count(letter) 
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [ ]:
string = "Hello $#! People   Whitespace 7331"
print(''.join(e for e in string if e.isalpha()))

HelloPeopleWhitespace